{% extends 'vehiculo/base.html' %}
{% block title %}Lista de Vehículos{% endblock %}
{% block content %}
    <div class="container col-12">
        <h1>Lista de Vehículos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serial Carrocería</th>
                    <th>Serial Motor</th>
                    <th>Precio</th>
                    {% if user.is_authenticated %}<th>Condición de Precio</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.serial_carroceria }}</td>
                    <td>{{ vehiculo.serial_motor }}</td>
                    <td>{{ vehiculo.precio }}</td>
                    {% if user.is_authenticated %}<td>{{ vehiculo.condicion }}</td>{% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No hay vehículos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}