<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript  %}
    {% bootstrap_messages %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Tienda de Vehiculos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_vehiculos' %}">Vehículos</a>
                    </li>
                    {% if perms.vehiculo.add_vehiculo %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agregar_vehiculo' %}">Agregar Vehículo</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Registration link-->
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <span class="nav-link ">Hola <strong>{{ user.username }}</strong></span>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrar_usuario' %}">Registrarse</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}

        </div>
    </nav>
    <div class="container col-12">
        {% block content %}
        {% endblock %}
    </div>
</body>
